{% extends 'base.html' %}

{% block content %}
    <div class="page-content d-flex flex-row justify-content-center px-5 w-100 mt-5">
        <div class="d-flex flex-column w-100">
            <h3 class="mb-5">Ваша корзина:</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Назва товару</th>
                        <th scope="col">Зображення</th>
                        <th scope="col">Ціна</th>
                        <th scope="col">Кількість</th>
                        <th scope="col">Загальна вартість</th>
                        <th scope="col">Операції</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in cart.products.all %}
                        <tr>
                            <td><a href="{{ product.content_object.get_absolute_url }}">{{ product.content_object.title }}</a></td>
                            <td><img style="object-fit: contain; width: 250px; height: 250px;" src="{{ product.content_object.image.url }}" alt=""></td>
                            <td>{{ product.content_object.modify_price }} грн</td>
                            <td>
                                <div class="btn-group-vertical cart-product-counter" role="group" style="width: 40px !important">
                                    <a class="btn btn-sm btn-primary py-2 plus" for="#product-{{ product.id }}">
                                        <i class="bi bi-plus-lg"></i>
                                    </a>
                                    <form class='cart-form' action="{% url 'change_product_quantity' ct_model=product.get_model_name slug=product.content_object.slug %}" method="POST" total-price-field="#{{ product.content_object.slug }}_total_price">
                                        {% csrf_token %}
                                        <input id="product-{{ product.id }}" type="number" min="1" max="999" name="quantity" value="{{ product.quantity }}" class="d-flex w-100 text-center">
                                    </form>
                                    <a class="btn btn-sm btn-primary py-2 minus" for="#product-{{ product.id }}">
                                        <i class="bi bi-dash-lg"></i>
                                    </a>
                                </div>
                            </td>
                            <td><span id="{{ product.content_object.slug }}_total_price">{{ product.modify_price }}</span> грн</td>
                            <td>
                                <a class="btn btn-danger" href="{% url 'remove_from_cart' ct_model=product.get_model_name slug=product.content_object.slug %}">Видалити</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="d-flex flex-row justify-content-between align-items-center flex-wrap mt-3 mb-5">
                <div class="d-flex align-items-center">
                    <div class="cart-spinner spinner-border text-dark me-3" style="display: none" role="status"></div>
                    <h5 id="cart-message" class="m-0">
                        {{ cart.get_cart_message }}
                    </h5>
                    <span id='cart-total-price' class="badge bg-light bg-gradient mx-2">
                        <h5 class="m-0 p-1 text-dark">
                            {{ cart.modify_price }}
                        </h5>
                    </span>
                    <h5 class="m-0">
                        грн
                    </h5>
                </div>
                <div class="cart-buttons">
                    <a class="btn btn-success btn ms-3 {% if not cart.total_price %} disabled {% endif %}">Продовжити</a>
                    <a class="btn btn-danger btn ms-3 {% if not cart.products_quantity %} disabled {% endif %}" data-bs-toggle="modal" data-bs-target="#clear-cart-modal">Очистити корзину</a>
                </div>
                <div class="modal fade" id="clear-cart-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Очищення корзини</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Ви дійсно хочете очистити корзину?</p>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-secondary" data-bs-dismiss="modal">Закрити</a>
                                <a class="btn btn-primary" href="{% url 'clear_cart' %}">Підтвердити</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}