<div class="list-group mx-5" style="width: 100%; max-width: 300px;">
    <a type="button" class="list-group-item list-group-item-action d-flex justify-content-between align-items-start active" href="/">
        Усі
        <span class="badge bg-primary rounded-pill" style="background: white !important; color: black;">{{ products_quantity }}</span>
    </a>
    {% for category in categories_list %}
        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-start" href="{{ category.url }}">
            {{ category.name }}
            <span class="badge bg-primary rounded-pill">{{ category.count }}</span>
        </a>
    {% endfor %}
</div>